
<div class="text-center">
    <h1 class="display-4">Welcome into WiFiTracker System</h1>
    <img src="~/img/wifitracker_block_scheme.png" alt="Functional Diagram" />
</div>




<script>
    window.addEventListener('load', (event) => {
        jQuery('#datetimepicker2').datetimepicker();
    });
</script>