@inject LanguageService ls


<div class="text-center">
    <h1 class="display-4">@ls.get(LanguageService.Words.Welcome_into_WiFiTrackerSystem)</h1>
    <img src="~/img/wifitracker_block_scheme.png" alt="Functional Diagram" />
</div>




<script>
    window.addEventListener('load', (event) => {
        jQuery('#datetimepicker2').datetimepicker();
    });
</script>