@model List<Terminal>
@{
    ViewData["Title"] = "Terminals All Page";
}
<h1>@ViewData["Title"]</h1>


<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">TerminalId</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
        <tr class="table-light">
            <td>@item.TerminalId</td>
            <td>@item.Name</td>
            <td align="right" width="20%">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
            }
    </tbody>
</table>

<button class="btn btn-primary">Add</button>


